body {
background-color:#ffffff;
text-align:;
}
h1 {
background-color: #12c1fc;
}
h2 {
background-color:;
 }



a:hover, a:active {
  background-color: red;
}

h1 {
  border-bottom: 5px solid #0093ff;
}
